@font-face{
  font-family: dandd;
  src:url(../fonts/pixel-sagas_dalelands/Dalelands_Uncial_Condensed.otf);
}

body{
    background-color: beige;
    font-family: dandd;
    font-size:24px;
}

#displaycharname{
  display:block;
  margin-left:auto;
  margin-right:auto;
}

#chartable,#gametable, #playerlist{
    list-style-type: none;
    padding:0px;
    text-align: center;
}

#playerlist{
  list-style-type: decimal;
}

#chartable>li,#gametable>li{
  border-bottom: 2px solid gray;
  margin-right:auto;
  margin-left: auto;
}
#chartable li:hover, #gametable li:hover{
  cursor : pointer;
  background-color: gray;
}
.closewindow{
    position:absolute;
    right:0px;
    border-radius:10px;
    background-color: white;
    color:red;
}

#createbtn{
    position: absolute;
    bottom: 13px;
    right: 20px;
}

#create_char{
    position: absolute;
    top: 130px;
    left: 20px;
    border-radius:5px;
}

#createchar{
    position: absolute;
    bottom: 15px;
    right: 25px;
    border-radius: 25px;
}

.createform{
    padding-left:20px;
    padding-right:20px;
    padding-bottom:20px;
    background-color:white;
    visibility:hidden;
    border: 2px solid blue;
    border-radius:25px;
    position:absolute;
    top: 143px;
    width:75%;
    margin-right:20px;
}

.createform input, .createform textarea{
  font-size:22px;
  height:100%;
}

#addfieldform{
  visibility: hidden;
}

#creatingcharform{
    padding: 20px;
    font-size: 20px;
}

#chartableheading{
    font-size: 25px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;
}

#logo{
    width:200px;
    height:50px;
    border:3px solid black;
    padding:5px;
    background-color: white;
}

#top{
    background-color: white;
    border-bottom: 2px solid black;
}

err{
    color:red;
}

.navbar-nav > li{
    line-height: 1;
    min-width: 100px;
    text-align:center;
    background-color: inherit;
    border-right: 1px solid gray;
    padding-top:0px;
    padding-bottom:0px;
    margin-top:10px;
    margin-bottom:10px;
}

li.lastright{
    border-right:0px;
}

li.current{
    background-color:gray;
}

navbar-nav li:hover{
    background-color:gray;
    color:black;
}

.userform{
    display:table;
    margin-left: 20px;
}
.userform input{
    display:table-cell;
    margin-top:5px;
}
.formrow{
    display:table-row;
    left:50px;
}
.userform label{
    display:table-cell;
}
.body{
    padding:15px;
}

#user{
  position:absolute;
  top:20px;
  left:400px;
  font-size: 24;
  font-weight: bold;
}

#displaycharname{
    font-weight: bold;
}

#container{
    border-radius: 25px;
    position: fixed;
    width: 500px;
    height: 210px;
    top: 25%;
    left: 33%;
    background:url(http://www.top1gaming.com/wallpaper/Dungeons&DragonsOnline/07-2.jpg) no-repeat top right;
}

#container2{
    border-radius: 25px;
    position: fixed;
    width: 700px;
    height: 440px;
    top: 20%;
    left: 25%;
    background:url(http://www.wall321.com/thumbnails/detail/20120630/minimalistic%20dragons%20knights%201920x1080%20wallpaper_www.wall321.com_26.jpg) no-repeat top left;
}

#container3{
    border-radius: 25px;
    position: fixed;
    width: 720px;
    height: 430px;
    top: 25%;
    left: 25%;
    background:url(http://www.jdroll.org/files/65c87da7c05770e12d9d886572173f7a27ea400d.jpeg) no-repeat;
    background-size: 100% 100%;
}
