body{
  background-color: beige;
}

#chartable>li,#gametable>li{

}

.closewindow{
  position:absolute;
  right:0px;
  border-radius:10px;
  background-color: white;
  color:red;
}

#createbtn{
    position: absolute;
    bottom: 20px;
    right: 30px;
}

#createcharbtn{
    position: absolute;
    bottom: 15px;
    right: 25px;
}

.createform{
  background-color:white;
  visibility:hidden;
  border: 2px solid blue;
  border-radius:25px;
  position:absolute;
  top: 143px;
  width:95%;
  margin-right:20px;
}


#creatingcharform{
    padding: 20px;
}

#chartable{
  text-align: center;
}

#chartableheading{
  font-size: 25px;
  text-decoration: underline;
  font-weight: bold;
  text-align: center;
}

#logo{
    width:200px;
    height:50px;
    border:3px solid black;
    padding:5px;
    background-color: white;
}

#top{
    background-color: white;
    border-bottom: 2px solid black;
}

err{
    color:red;
}

.navbar-nav > li{
    line-height: 1;
    min-width: 100px;
    text-align:center;
    background-color: inherit;
    border-right: 1px solid gray;
    padding-top:0px;
    padding-bottom:0px;
    margin-top:10px;
    margin-bottom:10px;
}

li.lastright{
    border-right:0px;
}

li.current{
    background-color:gray;
}

li:hover{
  background-color:gray;
  color:black;
}

.body{
  padding:15px;
}
