{% extends "master.html" %}

{% block body %}

<div id="chartable">
  <div id="chartableheading">
    Characters
  </div>
  <ul id="chartable"></ul>
</div>

<!-- Form for creating characters, should eventually be pop-up -->
<div id="createcharform">
  <form action="/create_char" method="POST" class="form-horizontal" role="form">

    <div class="form-group">
      <label class="control-label col-sm-2" for="charname">Name:</label>
      <div class="col-sm-2">
	<input type="text" class="form-control" name="charname" id="charname">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="race">Race:</label>
      <div class="col-sm-2">
	<input type="text" class="form-control" name="race" id="race">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="subrace">Subrace:</label>
      <div class="col-sm-2">
	<input type="text" class="form-control" name="subrace" id="subrace">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
	<button type="submit">Create</button>
      </div>
    </div>
  </form>
</div>

<!-- Form for editing characters, should eventually be pop-up -->
<div id="editcharform">
</div>

{% endblock %}

{% block endscript %}
<script type="text/javascript">var sentChars = "{{sentChars}}";</script>
<script src="{{ url_for('static', filename='Scripts/characters.js') }}"></script>
{% endblock %}
