{% extends "master.html" %}

{% block body %}

<button type="button" for="charform" class="openwindowbtn" id="newcharbtn">New Character</button>
<div id="chartableheading">
  Characters
</div>
<ul id="chartable"></ul>

<!-- Form for creating characters -->
<div class="createform" id="charform">
  <button class="closewindow closewindowbtn">X</button>

  <form id="creatingcharform" class="form-horizontal" role="form">

    <div class="form-group">
      <label class="control-label col-sm-2" for="charname">Name:</label>
      <div class="control-label col-sm-3">
        <input type="text" class="form-control" name="charname" id="charname">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="race">Race:</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="race" id="race">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="subrace">Subrace:</label>
      <div class="col-sm-3">
        <input type="text" class="form-control" name="subrace" id="subrace">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="char-descrip">Description:</label>
      <div class="col-sm-6">
        <textarea class="form-control" rows="5" id="char-descrip"></textarea>
      </div>
    </div>

  </form>

  <button class="openwindowbtn" for="addfieldform">+</button>
  <div id="addfieldform" class="createform">
    <button class="closewindow closewindowbtn">X</button>
    <form id="addfield" onsubmit="event.preventDefault();">
      <div class="formrow"><label>Field Name:</label><input type="text" id="fieldname"></div>
      <div class="formrow"><label>Field Value Type:</label>
        <select id="fieldtype">
          <option value="text">Text Box</option>
          <option value="textarea">Large Text Box</option>
        </select>
      </div>
      <button id="createfield" class="btn closewindowbtn">Add Field</button>
    </form>
  </div>

  <button type="button" id="createchar" class="btn btn-success">Create</button>

  </div>

  {% endblock %}

  {% block endscript %}
  <script type="text/javascript">var sentChars = JSON.parse('{{ sentChars|safe}}');</script>
  <script src="{{ url_for('static', filename='Scripts/characters.js') }}"></script>
  {% endblock %}
