{% extends "master.html" %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='Scripts/editaccount.js') }}"></script>
{% endblock %}

{% block body %}
<center><h1>Account Edits</h1></center><br>
<b>Current Username:</b>
<br>
New Username: <input type="text" name="username" id="newUsername"></input><br>
Password:<input type="password" name="password" id="password"></input><br><br>
<button id="updateUsername">Update Username</button><br><br>

<hr><br>

New Password: <input type="password" name="password" id="newPassword"></input><br>
Current Password:<input type="password" name="password" id="password"></input><br><br>

<button id="updatePassword">Update Password</button>
{% endblock %}
