{% extends "master.html" %}

{% block body %}

<button id="creategame">New Game</button>

<!-- Form for creating games, should eventually be pop-up
DOESNT HAVE TO BE FORM BECUASE WE're USING AJAX REQUESTS
JUST KEEP IT THE WAY IT IS @KEVIN

ALSO WE DONT NEED NAMES BECUASE OF THE WAY LABELS AND MY JS WORKS
-->
<div class="createform" id="creategameform">
  <button class="closewindow"><b>X</b></button>
  <br><br>
  <form class="form-horizontal" role="form" id="creatinggameform">

    <div class="form-group">
      <label class="control-label col-sm-2" for="gamename">Name:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control input-sm" id="charname">
      </div>
    </div>

    <div class="form-group">
      <label class="control-label col-sm-2" for="players">Add Player:</label>
      <div class="col-sm-2">
        <input type="text" class="form-control input-sm" id="players">
      </div>
    </div>

    <!--
    <div class="form-group">
    <label class="control-label col-sm-1" for="subrace">Subrace:</label>
    <div class="col-sm-2">
      <input type="text" class="form-control" id="subrace">
    </div>
    </div>
    -->

<!-- The "Add Player" button, should eventually append player names to a list that's displayed somewhere else on the pop-up -->
<div class="form-group">
  <div class="col-sm-offset-2 col-sm-2">
    <button type="button" id="addplayer">Add</button>
  </div>
</div>

<button type="button" id="createbtn" class="btn btn-success">Create</button>

</form>
</div>

<ul id="gametable"></ul>

<a href="/gameinfo/1">clickme</a>


{% endblock %}

{% block endscript %}
<script src="{{ url_for('static', filename='Scripts/games.js') }}"></script>
{% endblock %}
