{% extends "master.html" %}

{% block head %}

<script src="{{ url_for('static', filename='Scripts/socket.io.min.js') }}"></script>
<script>
 var session = {{session}}
 console.log(session.user);

</script>

{% endblock %}

{% block body %}
<button id="button">aaaaa</button>
<form>
  Character Name:<input type="text" name="charname">
  Player:<input type="text" name="playername">
</form>
{% endblock %}


{% block endscript %}
<script src="{{ url_for('static', filename='Scripts/socket.io.start.js') }}"></script>
{% endblock %}
