{% extends "master.html" %}

{% block head %}
<script src="{{ url_for('static', filename='Scripts/socket.io.min.js') }}"></script>
{% endblock %}

{% block body %}
<!-- This is a page for an already created game.
It will have information on every character and enemy and npc in the game.
There will also be information availible for rooms, and item creation forms and npc creation forms.
Main page for dm, will use sockets to ping players when their items change. -->



<button type="button" id="createitem">New Item</button>
<ul id="gamelist"></ul>



{% endblock %}

{% block endscript %}
<script src="{{ url_for('static', filename='Scripts/gameinfo.js') }}"></script>
{% endblock %}
