{% extends "master.html" %}

{% block head %}
{{ super() }}
{% endblock %}
{% block body -%}

<center><h1>Welcome to DandD!</h1>
<br>
Hello there! <br>This website is designed to be a tool for organizing all data related to Dungeons and Dragons. <br> 
As a dungeon master, once you register for an account, you will be able to add new games.<br>
Within each game, you can add information related to the game, including characters, items, monsters, and story progress. <br>
To view saved games and characters, you can navigate through the website using the navbar. <br>

</center>
{% endblock %}
