{% extends "master.html" %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='Scripts/login.js') }}"></script>
{% endblock %}

{% block body %}
<div id="container">
{% if r %} <center><err>Please Login!!</err></center> {% endif %}
<form onsubmit="event.preventDefault();" class="userform"><br>
  <div class="formrow"><label>Username:</label><input type="text" name="username" id="username"></input></div>
  <div class="formrow"><label>Password:</label><input type="password" name="password" id="password"></input></div>
  <div class="formrow"><label></label><input type="submit" id="sendlogin" value="Login"></button></div>
</form>
</div>
<center><div id="response"></div></center>
{% endblock %}
