<!DOCTYPE HTML>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/styles.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='CSS/bootstrap.min.css') }}">
  <script src="{{ url_for('static', filename='Scripts/jquery.js') }}"></script>
  <script src="{{ url_for('static', filename='Scripts/bootstrap.min.js') }}"></script>
  {% block head -%}
  {% endblock %}

  <title>{% block title %}Dungeon Master{% endblock %}</title>

  <link rel="icon" type="image/png" href="{% block favicon %}{{ url_for('static', filename='Images/DandD.png') }}{% endblock %}">
</head>
<body>
  <nav class="navbar navbar-default" id="top">
    <div class="container-fluid"><!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span> <!-- For the icon! -->
        </button>
        <a class="navbar-brand" href="/home"><img id="logo" src="{{url_for('static', filename='Images/d&dlogo.png')}}"></a> <!-- For the logo effect! -->
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1"><!-- Collect the nav links, forms, and other content for toggling -->
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/games">Games</a></li>
          <li><a href="/characters">Characters</a></li>
          <li>{% if session["user"] %}<a href="/logout">Logout</a>{% else %}<a href="/login">Login</a>{% endif %}</li>
          <li class="lastright">{% if not session['user'] %}<a href="/register">Register</a>{% endif %}</li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
<div class="body">

  {% block body -%}{% endblock -%}

</div>
</body>

{%- block endscript -%}
{% endblock %}

</html>
