{% extends "master.html" %}

{% block head %}
{{ super() }}
<script src="{{ url_for('static', filename='Scripts/register.js') }}"></script>
{% endblock %}

{% block body %}
<form>
<div class="formrow"><label>Username:</label><input type="text" name="username" id="username"></input></div>
<div class="formrow"><label>Password:</label><input type="password" name="password" id="password"></input></div>
<div class="formrow"><label>Confirm Password:</label><input type="password" name="confmpwd" id="confmpwd"></input></div>
<div class="formrow"><button type="button" id="sendregister">Register</button></div>
</form>
<div id="response"></div>
{% endblock %}
